<link rel="stylesheet" href="/assets/css/styles.css">
<header class="main-header">

    <div class="header-logo">
        <a href="/home_view.html">
            <img src="/assets/images/logo2.png" alt="ElectroMart Logo" id="logo">
        </a>
    </div>

    <nav class="main-nav">
        <ul>
            <li><a href="/home_view.html">Home</a></li>
            <li><a href="/categories_view.html">Categories</a></li>
        </ul>
    </nav>

    <div class="header-search">
        <form action="">
            <input type="search" placeholder="Search..." name="search">
            <button type="submit">Go</button>
        </form>
    </div>

    <nav class="user-actions">
        <ul>
            <li><a href="/login_view.html">Login</a></li>
            <li><a href="/register_view.html">Register</a></li>
            <li><a href="/wishlist_view.html">Wishlist</a></li>
            <li><a href="/cart_view.html">Cart 🛒</a></li>
        </ul>
    </nav>

</header>